<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **30** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data using Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload the file into your current Jupyter environment using the upload button in your Jupyter interface. Ensure that the file is in the same folder as your working .ipynb file.

Step 2: If working in a local Jupyter environment, use the "Upload" button in your Jupyter interface to upload the Jobs_API notebook into the same folder as your current .ipynb file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Open the Jobs_API notebook, and run all the cells to start the Flask application. Once the server is running, you can access the API from the URL provided in the notebook.

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [11]:
import pandas as pd
import json

Write a function to get the number of jobs for the Python technology.<br>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [12]:
api_url="http://127.0.0.1:5000/data/all"
df = pd.read_json(api_url)

In [13]:
df.head()

,Functional Area,Id,Industry,Job Experience Required,Job Title,Key Skills,Location,Role,Role Category
0,"Marketing , Advertising , MR , PR , Media Plan...",0,"Advertising, PR, MR, Event Management",5 - 10 yrs,Digital Media Planner,Media Planning| Digital Media,Los Angeles,Media Planning Executive/Manager,Advertising
1,"Sales , Retail , Business Development",1,"IT-Software, Software Services",2 - 5 yrs,Online Bidding Executive,pre sales| closing| software knowledge| client...,New York,Sales Executive/Officer,Retail Sales
2,"Engineering Design , R&D",2,"Recruitment, Staffing",0 - 1 yrs,Trainee Research/ Research Executive- Hi- Tech...,Computer science| Fabrication| Quality check| ...,San Francisco,R&D Executive,R&D
3,"IT Software - Application Programming , Mainte...",3,"IT-Software, Software Services",0 - 5 yrs,Technical Support,Technical Support,Washington DC,Technical Support Engineer,Admin/Maintenance/Security/Datawarehousing
4,IT Software - QA & Testing,4,"IT-Software, Software Services",2 - 5 yrs,Software Test Engineer -hyderabad,manual testing| test engineering| test cases| ...,Boston,Testing Engineer,Programming & Design

In [14]:
df.dtypes

Functional Area            object
Id                          int64
Industry                   object
Job Experience Required    object
Job Title                  object
Key Skills                 object
Location                   object
Role                       object
Role Category              object
dtype: object

In [29]:
def get_number_of_jobs_T(technology):
    tech_df = df[df["Key Skills"].str.contains(technology, regex=False)]
    return technology, len(tech_df.index)

In [30]:
get_number_of_jobs_T("Python")

('Python', 1173)

In [31]:
def get_number_of_jobs_L(location):

    loc_df = df[df["Location"].str.contains(location)]
    return location, len(loc_df.index)

In [32]:
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

### Store the results in an excel file

In [33]:
locs = [
    "Los Angeles",
    "New York",
    "San Francisco",
    "Washington DC",
    "Seattle",
    "Austin",
    "Detroit",
]

In [34]:
loc_tuples = []
for loc in locs:
    loc_tuples.append(get_number_of_jobs_L(loc))

loc_df = pd.DataFrame(loc_tuples, columns=["Location", "Number of Jobs"])
loc_df.set_index("Location", inplace=True)

In [25]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 22.3 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

In [35]:
loc_df.to_excel("job-postings.xlsx", sheet_name="location")

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [36]:
techs = [
    "C",
    "C#",
    "C++",
    "Java",
    "JavaScript",
    "Python",
    "Scala",
    "Oracle",
    "SQL Server",
    "MySQL Server",
    "PostgreSQL",
    "MongoDB",
]


tech_tuples = []
for tech in techs:
    tech_tuples.append(get_number_of_jobs_T(tech))

tech_df = pd.DataFrame(tech_tuples, columns=["Technology", "Number of Jobs"])
tech_df.set_index("Technology", inplace=True)

In [37]:
# add dataframe to the same excel workbook but to another sheet 
excel_path ="job-postings.xlsx"
with pd.ExcelWriter(
    excel_path, engine="openpyxl", mode="a", if_sheet_exists="replace"
) as writer:
    tech_df.to_excel(writer, sheet_name="technology")

## Authors

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

Copyright © IBM Corporation.

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>